# Ambienti virtuali Python
.venv/
.venv-jenkins/
.venv-model-test/

# Cache Python
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
.pytest_cache/

# IDE
.idea/

# Git
.git/
.gitignore

# Configurazioni e file locali
.env
*.log

# File non necessari nell'immagine dell'API
test/
monitoring/
README.md
Jenkinsfile
compose.yaml